.menu {
	position: fixed;
	inset: 0;
	height: 0vh;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	background-color: #080808;
	transition: height 0.5s ease;
}

.menu.menu-aberto {
	height: 100vh;
}

.fechar-menu {
	background-color: transparent;
	border: none;
	padding: 20px 4vw;
    cursor: pointer;
}

.logo-menu {
    text-align: center;
}

.logo-menu img {
    width: 257px;
    height: 257px;
}

.navegacao-menu {
    display: flex;
    flex-direction: column;
}

.navegacao-menu a {
    font-size: 4rem;
    text-decoration: none;
    color: rgb(243, 241, 241);
    font-weight: 50;
    padding-left: 5vw;
    font-family: 'Inter';
    font-weight: 200;
    letter-spacing: -0.06em;
}

.redes-menu {
    display: flex;
    flex-direction: column;
    padding-top: 7vh;
    padding-left: 5vw;
}

.redes-menu a {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: rgb(226, 221, 221);
    font-family: 'Inter';
    font-weight: 200;
    letter-spacing: -0.06em;
}

.redes-menu a img {
    width: 22px;
    height: 22px;
}